body{
    background-color: rgb(236, 230, 230);
    width: 90%;
    transition: background-color 0.3s ease;
}
.light-mode{
    background-color: hsl(0, 0%, 98%);
    color:  hsl(200, 15%, 8%);
}
.dark-mode{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}
header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10px;
    background-color: white;
    width: 99vw;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.countries{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
div .countries{
    display: flex;
}
.countries img{
    width: 20%;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#filter{
    display: block;
    margin-right: 0px;
}
.countries{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 18px;
}